{% load allauth %}
{% for err in attrs.form.non_field_errors %}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">{{ err }}</div>{% endfor %}
<form class="{% block form_class %}{% if not attrs.no_visible_fields %}card{% endif %}{% endblock %}"
      method="{{ attrs.method }}"
      action="{{ attrs.action }}">
    {% if not attrs.no_visible_fields %}
        <div class="card-body  space-y-4 md:space-y-6">{% endif %}
    {% slot body %}
    {% endslot %}
    {% if not attrs.no_visible_fields %}</div>{% endif %}
    {% if not attrs.no_visible_fields %}
        <div class="card-footer mt-6">{% endif %}
    {% slot actions %}
    {% endslot %}
    {% if not attrs.no_visible_fields %}</div>{% endif %}
</form>
