{% extends '_base.html' %}
{% load static %}

{% block title %}What is PsychoModels?{% endblock %}

{% block content %}


    <div class="main-header" style="background-image: url('{% static 'img/background2x.jpg' %}');">
        <div class="center"  style="background-image: url('{% static 'img/pm_logo.svg' %}');">
            <h1><b>Psycho</b><i>Models</i></h1>
            <p> The model repository for psychological science </p>

        </div>
    </div>

    <div class="container">

        <p>
            This project aims at creating a database that encourages sharing, reusing, and extending computational
            implementations of formal models in psychology.
            Through creating a platform designed for productive exchange both within modelling groups and between
            those modellers and empirical researchers,
            modelling practices among researchers will be nurtured and further developed. </p>
        <p>
            Computational modelling is increasingly relevant for psychological research, but traditional publication
            outlets do not facilitate their usefulness.
            Major issues are that no standards on how to document such models, no indexing systems, or systematic
            links between repositories exist.
            Our database will create a curated resource addressing these issues. This will be a comprehensive
            inventory of computational models in published literature,
            connecting publication records with entries in code and data repositories relevant, enriched by markers
            of the psychological context.
        </p>


    </div>


{% endblock %}
