{% extends '_base.html' %}
{% load static %}

{% block content %}


    <div class="main-header" style="background-image: url('{% static 'img/background2x.jpg' %}');">
        <div class="center" style="background-image: url('{% static 'img/pm_logo.svg' %}');">
            <h1><b>Psycho</b><i>Models</i></h1>
            <p class="text-lg">The model repository for psychological science</p>

        </div>
    </div>




    <div class="container rounded shadow">

        <p>
            We aim to create a database that encourages sharing, reusing, and extending computational implementations of
            formal models in psychology. By creating a platform designed for productive exchange within modeling groups
            and between modelers and empirical researchers, modeling practices among researchers will flourish and
            expand. </p>

    </div>


{% endblock %}
