{% extends '_base.html' %}
{% load static %}
{% load highlighted_psychology_models %}

{% block content %}


    <div class="main-header" style="background-image: url('{% static 'img/background2x.jpg' %}');">
        <div class="center" style="background-image: url('{% static 'img/pm_logo.svg' %}');">
            <h1><b>Psycho</b><i>Models</i></h1>
            <p class="text-lg">The model repository for psychological science</p>

        </div>
    </div>




    <div class="container rounded shadow">

        <p>
            We aim to create a database that encourages sharing, reusing, and extending computational implementations of
            formal models in psychology. By creating a platform designed for productive exchange within modeling groups
            and between modelers and empirical researchers, modeling practices among researchers will flourish and
            expand. </p>

    </div>


    <div class="mx-auto max-w-screen-2xl lg:px-6 my-6 w-full">
        <div class="font-bold text-gray-600 mb-8 ml-4 text-center">Highlighted models</div>

        <div class="grid rid-cols-1 lg:grid-cols-2 gap-4 mb-12">
            {% get_highlighted_psychology_models as highlighted_psychology_models %}
            {% for highlighted in highlighted_psychology_models %}

                {% include 'psychology_models/_psychology_model_card.html' with psychology_model=highlighted.psychology_model %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
