# Caches and logs
*.log
logs/
*.sqlite3

# Virtual environment
venv/
.venv/

# Compiled Python files
*.pyc

# Python bytecode cache
__pycache__/

.env

static/generated/
static/manifest.json
static/dist/
static/generated


collectedstatic/
node_modules/

.hotfile
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/coverage/*
