[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-markdownx = "*"
markdown = "*"
psycopg = "*"
psycopg2-binary = "*"
sqlparse = "*"
django = "*"
python-dotenv = "*"
django-countries = "*"
django-browser-reload = "*"
dj-database-url = "*"
gunicorn = "*"
sentry-sdk = {extras = ["django"], version = "*"}
django-lb-health-check = "*"
django-autoslug = "*"
django-vite-plugin = "*"
algoliasearch-django = "*"
django-cors-headers = "*"
django-object-actions = "*"
django-currentuser = "*"
django-reversion = "*"
djangorestframework = "*"
django-allauth = {extras = ["socialaccount", "github", "google", "orcid"], version = "*"}
django-after-response = "*"
django-import-export = "*"

[dev-packages]
black = "*"
pycodestyle = "*"

[requires]
python_version = "3.12"
