{% extends '_base.html' %}

{% block title %}Submission{% endblock %}

{% block content %}

<p> PsychoModels is a community-driven database of computational models of the mind. We welcome submissions of models that are relevant to the study of the mind and brain. </p>



<h3> Submit a model anonymously</h3>
<p> Alternatively, you can propose a model to be included into the database:</p>

<form method="post">
    {% csrf_token %}
    {{ model_form.as_p }}
    <button type="submit">Submit</button>
</form>

{% endblock %}
