@tailwind base;
@tailwind components;
@tailwind utilities;

.rc-md-editor .editor-container .sec-md .input {
    font-size: 1rem !important;
}

.rc-md-editor .custom-html-style p {
    font-size: 1rem !important;
}

.rc-md-editor .rc-md-navigation {
    background-color: rgb(249, 250, 251) !important;
}
