{% load static %}
{% load vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            PsychoModels
        {% endblock %}
        {% if block.super %}
            - PsychoModels
        {% endif %}
    </title>

    <!--Vite dev client for hmr (will not be displayed on production)-->
    {% vite %}

    {% vite 'js/main.ts' %}

    <link rel="stylesheet" href="{% static 'generated/css/style.css' %}">

    {% block extrascripts %}{% endblock %}

</head>

<body class="flex flex-col min-h-screen">

{% include '_header_nav.html' %}

{% if messages %}
    <div class="messages mx-auto max-w-screen-2xl w-full">
        {% for message in messages %}
            <div class="p-4 m-2 text-sm rounded-lg message {{ message.tags }}  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              text-red-800 bg-red-50
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    text-green-800 bg-green-50
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    text-yellow-800 bg-yellow-50
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     text-blue-800 bg-blue-50
                {% else %}
                    text-gray-800 bg-gray-50
                {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}



{% block content %}
{% endblock %}


{% block footer %}
    {% include '_footer.html' %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>
