{% load static %}
{% load vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Vite dev client for hmr (will not be displayed on production)-->
    {% vite %}

    {% vite 'js/main.ts' %}

    <link rel="stylesheet" href="{% static 'generated/css/style.css' %}">

    {% block extrascripts %}{% endblock %}

</head>

<body class="flex flex-col min-h-screen">

{% include '_header_nav.html' %}

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}



{% block content %}
{% endblock %}


{% block footer %}
   {% include '_footer.html' %}
{% endblock %}

</body>
</html>
