{% extends '_base.html' %}
{% load render_vite_bundle %}
{% load static %}


{% block title %}Submit a new psychology computational model{% endblock %}


{% block extrascripts %}
    {% if debug %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>

        <!-- If you're using vite with React, this next script will be needed for HMR -->
        <script type="module">
            import RefreshRuntime from 'http://localhost:5173/@react-refresh'

            if (RefreshRuntime) {
                RefreshRuntime.injectIntoGlobalHook(window)
                window.$RefreshReg$ = () => {
                }
                window.$RefreshSig$ = () => (type) => type
                window.__vite_plugin_react_preamble_installed__ = true
            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="min-h-[600px] max-w-screen-2xl mx-auto my-12 w-full">
        <div id="root"></div>
    </div>

    {% if debug %}
        <script type="module" src="http://localhost:5173/frontend_src/search.tsx"></script>
    {% else %}
       {% render_vite_bundle %}
    {% endif %}
{% endblock %}
